<div class="topbar-area">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-lg-6 col-md-6">
              <ul class="topbar-list">
                  <li>
                      <a href="#!"><i class="fab fa-facebook"></i></a>
                      <a href="#!"><i class="fab fa-twitter-square"></i></a>
                      <a href="#!"><i class="fab fa-instagram"></i></a>
                      <a href="#!"><i class="fab fa-linkedin"></i></a>
                  </li>
                  <li><a href="#!"><span>+011 234 567 89</span></a></li>
                  <li><a href="#!"><span>contact@domain.com</span></a></li>
              </ul>
          </div>
          <div class="col-lg-6 col-md-6">
              <ul class="topbar-others-options">
                  <li><a href="login.html">Login</a></li>
                  <li><a href="register.html">Sign up</a></li>
                  <li>
                      <div class="dropdown language-option">
                          <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown"
                              aria-haspopup="true" aria-expanded="false">
                              <span class="lang-name"></span>
                          </button>
                          <div class="dropdown-menu language-dropdown-menu">
                              <a class="dropdown-item" href="#">English</a>
                              <a class="dropdown-item" href="#">Arabic</a>
                              <a class="dropdown-item" href="#">French</a>
                          </div>
                      </div>
                  </li>
                  <li>
                      <div class="dropdown language-option">
                          <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown"
                              aria-haspopup="true" aria-expanded="false">
                              <span class="lang-name"></span>
                          </button>
                          <div class="dropdown-menu language-dropdown-menu">
                              <a class="dropdown-item" href="#">USD</a>
                              <a class="dropdown-item" href="#">BD</a>
                              <a class="dropdown-item" href="#">URO</a>
                          </div>
                      </div>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</div>
